<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Crashub Practice</display-name>
  <description>
    Crashub Practice
  </description>

  <servlet>
      <servlet-name>SimpleHttpServlet</servlet-name>
      <servlet-class>com.crashub.prac.SimpleHttp</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>SimpleHttpServlet</servlet-name>
      <url-pattern>/index</url-pattern>
   </servlet-mapping>
</web-app>

